* {
  margin: 0;
}
.App {
  font-family: sans-serif;
}
.header {
  background-color: orange;
  padding: 10px;
  padding-left: 5%;
}
.task {
  width: 30%;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
}
